{% load i18n %}
{% include "acl/navbar.html" %}

{% block container %}
    <div class="container">

    {% if page == 'users' %}
        <h2>
            {% translate 'User List' %}
            <a href="?list=groups" class="btn btn-primary float-right">{% translate 'List Groups' %}</a>
        </h2>
        <small>{% translate 'We display 4 permission only here, check detail for more' %}.</small>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% translate 'Username' %}</th>
                    <th>{% translate 'Email' %}</th>
                    <th>{% translate 'Permission' %}</th>
                    <th>{% translate 'Groups' %}</th>
                    <th>{% translate 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
            {% if 'view_users' in permissions %}
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {%  for perm in user.permissions.select_related|slice:":2" %}
                            <li>{{ perm }}</li>
                        {% endfor %}
                        {%  for group in user.groups.select_related|slice:":2" %}
                            {%  for perm in group.permissions.select_related|slice:":2" %}
                                <li>{{ perm }}</li>
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        {%  for group in user.groups.select_related %}
                            <li>{{ group }}</li>
                        {% endfor %}
                    </td>
                    <td>
{#                        <a href="{% url 'edit_user' user.id %}" class="btn btn-primary">Edit</a>#}
{#                        <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>#}

                        <a href="{% url 'acl:user-updating' user.id %}" class="btn btn-primary {% if not 'change_users' in permissions %} disabled {% endif %}">{% translate 'Update' %}</a>
                        <a href="{% url 'acl:user-details' user.id %}" class="btn btn-success {% if not 'view_users' in permissions %} disabled {% endif %}">{% translate 'View' %}</a>
                        <a href="" class="btn btn-danger {% if not 'delete_users' in permissions %} disabled {% endif %}">{% translate 'Delete' %}</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <p class="text-danger font-weight-bold">{% translate "You don't have a permission to view users" %}</p>
            {% endif %}
            </tbody>
        </table>
    {% endif %}
    {% if page == 'groups' %}
        <table class="table table-striped">
        <h2>
            {% translate 'Group List' %}
            <a href="?list=users" class="btn btn-primary float-right">{% translate 'List Users' %}</a>

        </h2>
        <small>{% translate 'We display 4 permission only here, check detail for more' %}</small>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Permission' %}</th>
                    <th>{% translate 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
            {% if 'view_groups' in permissions %}
                {% for group in groups %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ group.name }}</td>

                    <td>
                        {%  for perm in group.permissions.select_related|slice:':4' %}
                            <li>{{ perm }}</li>
                        {% endfor %}
                    </td>
                    <td>

                        <a href="{% url 'acl:group-updating' group.id %}" class="btn btn-primary {% if not 'change_users' in permissions %} disabled {% endif %}">{% translate 'Update' %}</a>
                        <a href="{% url 'acl:group-details' group.id %}" class="btn btn-success {% if not 'view_users' in permissions %} disabled {% endif %}">{% translate 'View' %}</a>
                        <a href="" class="btn btn-danger {% if not 'delete_users' in permissions %} disabled {% endif %}">{% translate 'Delete' %}</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <p class="text-danger font-weight-bold">{% translate "You don't have a permission to view groups" %}</p>
            {% endif %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}