{% load i18n %}
{% include "acl/navbar.html" %}

{% block container %}
    <div class="container">
    <h2>{% translate "Login Page" %}</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">{% translate 'Email' %}:</label>
            <input type="email" class="form-control" name="email" placeholder="{% translate 'Enter email' %}" required>
        </div>
        <div class="form-group">
            <label for="password">{% translate 'Password' %}:</label>
            <input type="password" class="form-control" name="password" placeholder="{% translate 'Enter password' %}" required>
        </div>
        <button type="submit" class="btn btn-primary">{% translate 'Login' %}</button>
    </form>
    </div>
{% endblock %}